langgraph
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
fastapi
uvicorn
pydantic
python-dotenv
tavily-python
arxiv
pypdf
langsmith
pytest
torch 
torchvision
streamlit
reportlab